<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerStockServlet</servlet-name>
        <servlet-class>controller.RetailerStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerDelServlet</servlet-name>
        <servlet-class>controller.RetailerDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoUpdateServlet</servlet-name>
        <servlet-class>controller.CoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeEntryServlet</servlet-name>
        <servlet-class>controller.EmployeeEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpDeleteServlet</servlet-name>
        <servlet-class>controller.EmpDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseEntryServlet</servlet-name>
        <servlet-class>controller.ExpenseEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashinServlet</servlet-name>
        <servlet-class>controller.CashinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashoutServlet</servlet-name>
        <servlet-class>controller.CashoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanypayServlet</servlet-name>
        <servlet-class>controller.CompanypayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerpayServlet</servlet-name>
        <servlet-class>controller.RetailerpayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryaddServlet</servlet-name>
        <servlet-class>controller.FactoryaddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactoryDelServlet</servlet-name>
        <servlet-class>controller.FactoryDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CostServlet</servlet-name>
        <servlet-class>controller.CostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankaddServlet</servlet-name>
        <servlet-class>controller.BankaddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankTranServlet</servlet-name>
        <servlet-class>controller.BankTranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpPayServlet</servlet-name>
        <servlet-class>controller.EmpPayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropitercostServlet</servlet-name>
        <servlet-class>controller.PropitercostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpcostdelServlet</servlet-name>
        <servlet-class>controller.EmpcostdelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUpServlet</servlet-name>
        <servlet-class>controller.DelUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RtpayUpdateServlet</servlet-name>
        <servlet-class>controller.RtpayUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacpayUpdateServlet</servlet-name>
        <servlet-class>controller.FacpayUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CostDelServlet</servlet-name>
        <servlet-class>controller.CostDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProTrDelServlet</servlet-name>
        <servlet-class>controller.ProTrDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanktranDelServlet</servlet-name>
        <servlet-class>controller.BanktranDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebitDelServlet</servlet-name>
        <servlet-class>controller.DebitDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditDelServlet</servlet-name>
        <servlet-class>controller.CreditDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rtler_commiServlet</servlet-name>
        <servlet-class>controller.Rtler_commiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fac_commiServlet</servlet-name>
        <servlet-class>controller.Fac_commiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacComUpServlet</servlet-name>
        <servlet-class>controller.FacComUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccIDPassUpServlet</servlet-name>
        <servlet-class>controller.AccIDPassUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpIdUpServlet</servlet-name>
        <servlet-class>controller.EmpIdUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockRateUpdate</servlet-name>
        <servlet-class>controller.StockRateUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Model_Price_Servlet</servlet-name>
        <servlet-class>controller.Model_Price_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Color_showServlet</servlet-name>
        <servlet-class>controller.Color_showServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vendor_ShowServlet</servlet-name>
        <servlet-class>controller.Vendor_ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MstockServlet</servlet-name>
        <servlet-class>controller.MstockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellEntryServlet</servlet-name>
        <servlet-class>controller.SellEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsalerolbackServlet</servlet-name>
        <servlet-class>controller.MsalerolbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_sale_replace_Servlet</servlet-name>
        <servlet-class>controller.M_sale_replace_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProprietorServlet</servlet-name>
        <servlet-class>controller.ProprietorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Area_Show_Servlet</servlet-name>
        <servlet-class>controller.Area_Show_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store_showServlet</servlet-name>
        <servlet-class>controller.Store_showServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Boss_ShowServlet</servlet-name>
        <servlet-class>controller.Boss_ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinvestServlet</servlet-name>
        <servlet-class>controller.FinvestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelDeleteServlet</servlet-name>
        <servlet-class>controller.ModelDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorDeleteServlet</servlet-name>
        <servlet-class>controller.ColorDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleBackServlet</servlet-name>
        <servlet-class>controller.SaleBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalePriceUpdateServlet</servlet-name>
        <servlet-class>controller.SalePriceUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MdiscountServlet</servlet-name>
        <servlet-class>controller.MdiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoTranServlet</servlet-name>
        <servlet-class>controller.DemoTranServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemotranDelServlet</servlet-name>
        <servlet-class>controller.DemotranDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerSelectServlet</servlet-name>
        <servlet-class>controller.RetailerSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerInfoUpdateServlet</servlet-name>
        <servlet-class>controller.RetailerInfoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfitWithdrawServlet</servlet-name>
        <servlet-class>controller.ProfitWithdrawServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductInfoUpdateServlet</servlet-name>
        <servlet-class>controller.ProductInfoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MitpSellServlet</servlet-name>
        <servlet-class>controller.MitpSellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MitpMdiscountServlet</servlet-name>
        <servlet-class>controller.MitpMdiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MitpMsalerolbackServlet</servlet-name>
        <servlet-class>controller.MitpMsalerolbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OhSellServlet</servlet-name>
        <servlet-class>controller.OhSellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OhMdiscountServlet</servlet-name>
        <servlet-class>controller.OhMdiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OhMsalerolbackServlet</servlet-name>
        <servlet-class>controller.OhMsalerolbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelRenameServlet</servlet-name>
        <servlet-class>controller.ModelRenameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixedInvestUpServlet</servlet-name>
        <servlet-class>controller.FixedInvestUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailSendServlet</servlet-name>
        <servlet-class>controller.MailSendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupServlet</servlet-name>
        <servlet-class>controller.BackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendDistMail</servlet-name>
        <servlet-class>controller.ResendDistMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendPayMail</servlet-name>
        <servlet-class>controller.ResendPayMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatementMail</servlet-name>
        <servlet-class>controller.StatementMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>controller.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiShowServlet</servlet-name>
        <servlet-class>controller.FiShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfitShowServlet</servlet-name>
        <servlet-class>controller.ProfitShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProlShowServlet</servlet-name>
        <servlet-class>controller.ProlShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PwShowServlet</servlet-name>
        <servlet-class>controller.PwShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebitShowServlet</servlet-name>
        <servlet-class>controller.DebitShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditShowServlet</servlet-name>
        <servlet-class>controller.CreditShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPassUpServlet</servlet-name>
        <servlet-class>controller.AdminPassUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricedropAdjust</servlet-name>
        <servlet-class>controller.PricedropAdjust</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMPaymentServlet</servlet-name>
        <servlet-class>controller.CMPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdShowServlet</servlet-name>
        <servlet-class>controller.CmdShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerSelectServler</servlet-name>
        <servlet-class>controller.RetailerSelectServler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MippRetailerSelectServler</servlet-name>
        <servlet-class>controller.MippRetailerSelectServler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VatServlet</servlet-name>
        <servlet-class>controller.VatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerStockServlet</servlet-name>
        <url-pattern>/RetailerStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerDelServlet</servlet-name>
        <url-pattern>/RetailerDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoUpdateServlet</servlet-name>
        <url-pattern>/CoUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeEntryServlet</servlet-name>
        <url-pattern>/EmployeeEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpDeleteServlet</servlet-name>
        <url-pattern>/EmpDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseEntryServlet</servlet-name>
        <url-pattern>/ExpenseEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashinServlet</servlet-name>
        <url-pattern>/CashinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashoutServlet</servlet-name>
        <url-pattern>/CashoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanypayServlet</servlet-name>
        <url-pattern>/CompanypayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerpayServlet</servlet-name>
        <url-pattern>/RetailerpayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryaddServlet</servlet-name>
        <url-pattern>/FactoryaddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactoryDelServlet</servlet-name>
        <url-pattern>/FactoryDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CostServlet</servlet-name>
        <url-pattern>/CostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankaddServlet</servlet-name>
        <url-pattern>/BankaddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankTranServlet</servlet-name>
        <url-pattern>/BankTranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpPayServlet</servlet-name>
        <url-pattern>/EmpPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropitercostServlet</servlet-name>
        <url-pattern>/PropitercostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpcostdelServlet</servlet-name>
        <url-pattern>/EmpcostdelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUpServlet</servlet-name>
        <url-pattern>/DelUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RtpayUpdateServlet</servlet-name>
        <url-pattern>/RtpayUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacpayUpdateServlet</servlet-name>
        <url-pattern>/FacpayUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CostDelServlet</servlet-name>
        <url-pattern>/CostDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProTrDelServlet</servlet-name>
        <url-pattern>/ProTrDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanktranDelServlet</servlet-name>
        <url-pattern>/BanktranDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebitDelServlet</servlet-name>
        <url-pattern>/DebitDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditDelServlet</servlet-name>
        <url-pattern>/CreditDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rtler_commiServlet</servlet-name>
        <url-pattern>/Rtler_commiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fac_commiServlet</servlet-name>
        <url-pattern>/Fac_commiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacComUpServlet</servlet-name>
        <url-pattern>/FacComUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccIDPassUpServlet</servlet-name>
        <url-pattern>/AccIDPassUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpIdUpServlet</servlet-name>
        <url-pattern>/EmpIdUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockRateUpdate</servlet-name>
        <url-pattern>/StockRateUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Model_Price_Servlet</servlet-name>
        <url-pattern>/Model_Price_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Color_showServlet</servlet-name>
        <url-pattern>/Color_showServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vendor_ShowServlet</servlet-name>
        <url-pattern>/Vendor_ShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MstockServlet</servlet-name>
        <url-pattern>/MstockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellEntryServlet</servlet-name>
        <url-pattern>/SellEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsalerolbackServlet</servlet-name>
        <url-pattern>/MsalerolbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_sale_replace_Servlet</servlet-name>
        <url-pattern>/M_sale_replace_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProprietorServlet</servlet-name>
        <url-pattern>/ProprietorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Area_Show_Servlet</servlet-name>
        <url-pattern>/Area_Show_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store_showServlet</servlet-name>
        <url-pattern>/Store_showServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Boss_ShowServlet</servlet-name>
        <url-pattern>/Boss_ShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinvestServlet</servlet-name>
        <url-pattern>/FinvestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelDeleteServlet</servlet-name>
        <url-pattern>/ModelDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColorDeleteServlet</servlet-name>
        <url-pattern>/ColorDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleBackServlet</servlet-name>
        <url-pattern>/SaleBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalePriceUpdateServlet</servlet-name>
        <url-pattern>/SalePriceUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MdiscountServlet</servlet-name>
        <url-pattern>/MdiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoTranServlet</servlet-name>
        <url-pattern>/DemoTranServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemotranDelServlet</servlet-name>
        <url-pattern>/DemotranDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerSelectServlet</servlet-name>
        <url-pattern>/RetailerSelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerInfoUpdateServlet</servlet-name>
        <url-pattern>/RetailerInfoUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfitWithdrawServlet</servlet-name>
        <url-pattern>/ProfitWithdrawServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductInfoUpdateServlet</servlet-name>
        <url-pattern>/ProductInfoUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MitpSellServlet</servlet-name>
        <url-pattern>/MitpSellServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MitpMdiscountServlet</servlet-name>
        <url-pattern>/MitpMdiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MitpMsalerolbackServlet</servlet-name>
        <url-pattern>/MitpMsalerolbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OhSellServlet</servlet-name>
        <url-pattern>/OhSellServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OhMdiscountServlet</servlet-name>
        <url-pattern>/OhMdiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OhMsalerolbackServlet</servlet-name>
        <url-pattern>/OhMsalerolbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelRenameServlet</servlet-name>
        <url-pattern>/ModelRenameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixedInvestUpServlet</servlet-name>
        <url-pattern>/FixedInvestUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSendServlet</servlet-name>
        <url-pattern>/MailSendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupServlet</servlet-name>
        <url-pattern>/BackupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendDistMail</servlet-name>
        <url-pattern>/ResendDistMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendPayMail</servlet-name>
        <url-pattern>/ResendPayMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatementMail</servlet-name>
        <url-pattern>/StatementMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiShowServlet</servlet-name>
        <url-pattern>/FiShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfitShowServlet</servlet-name>
        <url-pattern>/ProfitShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProlShowServlet</servlet-name>
        <url-pattern>/ProlShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PwShowServlet</servlet-name>
        <url-pattern>/PwShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebitShowServlet</servlet-name>
        <url-pattern>/DebitShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditShowServlet</servlet-name>
        <url-pattern>/CreditShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPassUpServlet</servlet-name>
        <url-pattern>/AdminPassUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricedropAdjust</servlet-name>
        <url-pattern>/PricedropAdjust</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMPaymentServlet</servlet-name>
        <url-pattern>/CMPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdShowServlet</servlet-name>
        <url-pattern>/CmdShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerSelectServler</servlet-name>
        <url-pattern>/RetailerSelectServler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MippRetailerSelectServler</servlet-name>
        <url-pattern>/MippRetailerSelectServler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VatServlet</servlet-name>
        <url-pattern>/VatServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
</web-app>
